<h1>JUST ONE</h1>
<table>
  <tr>
    <th>name</th>
    <th>birth_date</th>
    <th>age</th>
    <th>sex</th>
    <th>description</th>
    <th>color</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
    <td><%= @cat.color %></td>
  </tr>
</table>
